{% load static %}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="kanban-modal-label-3" aria-hidden="true" id="modal{{card.pk}}">
  <div class="modal-dialog modal-lg mt-6" role="document">
    <div class="modal-content border-0">
      <!-- <form action="" method="POST"> -->
  
      {% if card.image %}
      <div class="position-relative overflow-hidden py-8">
        <div class="bg-holder rounded-top-lg" style="background-image:url({{ card.image.url }});"></div>
      </div>
      {% endif %}
      <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button></div>
      <div class="modal-body p-0">
        <div class="bg-light rounded-top-lg py-3 px-4">
            {% csrf_token %}
            <div>
            <div  class="d-flex align-items-center name-edit-container">
              <h4 class="mb-1 cardTitle{{ card.pk }}" id="">{{ card.title }}</h4>
              <button  class="btn h-100 mx-3 btn-falcon-default btn-sm  fs--2 btn-edit-title" type="button" >
                <span class="fas fa-edit"></span>
              </button>
              {% if not card.image %}
              <label for="cardinputimage{{card.pk}}" class=" btn h-100 mx-3 btn-falcon-default btn-sm fs--2 btn-add-card-image"> <span class="fas fa-image"></span>
              </label>
                <input id="cardinputimage{{card.pk}}" type="file" class="form-control d-none" name="card_input_image" >
              {% endif %}
            </div>
            <form class="form-add-title d-none" method="post">
            <div class="d-flex align-items-center">
              <input name="title" id="cardinput{{ card.id }}" value="{{ card.title }}" class="form-control fw-bold shadow-none w-50 border-none bg-transparent" style="border: none;" >
              <button class="btn h-100 mx-3 btn-falcon-default btn-sm dropdown-toggle dropdown-caret-none fs--2 submit-edit-title-btn" data-card-pk={{ card.pk }} data-label-class = "cardTitle{{ card.pk }}" data-input-id="cardinput{{ card.id }}" type="submit"> <span class="fas fa-check"></span></button>
            </div>
          </form>
        </div>
          <p class="fs--2 mb-0">Ajoutée par <a class="link-600 fw-semi-bold" href="#!">{{ card.added_by }}</a></p>
          {% comment %} <input  name="added_by" value={{ card.added_by.pk }} class="form-control d-none" > {% endcomment %}
          <input name="column" value={{ card.column.pk }} class="form-control d-none" >
        </div>
        <div class="p-4">
          <div class="row">
            <div class="col-lg-9">
              <div class="d-flex"><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-user" data-fa-transform="shrink-2"></i></span>
                <div class="flex-1">
                  <h5 class="mb-2 fs-0">Reviewers</h5>
                  <ul class="nav avatar-group mb-0">
                    <li class="nav-item dropdown"></li>
                    <li class="nav-item dropdown"><a class="nav-link p-0 dropdown-toggle dropdown-caret-none" href="#" role="button" data-bs-toggle="dropdown">
                        <div class="avatar avatar-xl">
                          <img class="rounded-circle" src="{% static 'task/assets/img/team/1.jpg' %}" alt="" />
                        </div>
                      </a>
                      <div class="dropdown-menu dropdown-md px-0 py-3">
                        <div class="d-flex align-items-center position-relative px-3">
                          <div class="avatar avatar-2xl me-2">
                            <img class="rounded-circle" src="{% static 'task/assets/img/team/1.jpg' %}" alt="" />
                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0"><a class="stretched-link text-900" href="#">Anna Karinina</a></h6>
                            <p class="mb-0 fs--2 text-500">Member</p>
                          </div>
                        </div>
                        <hr class="my-2" /><a class="dropdown-item" href="#!">Member Rule</a><a class="dropdown-item text-danger" href="#!">Remove Member</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link p-0 dropdown-toggle dropdown-caret-none ms-n1" href="#" role="button" data-bs-toggle="dropdown">
                        <div class="avatar avatar-xl">
                          <img class="rounded-circle" src="{% static 'task/assets/img/team/2.jpg' %}" alt="" />
                        </div>
                      </a>
                      <div class="dropdown-menu dropdown-md px-0 py-3">
                        <div class="d-flex align-items-center position-relative px-3">
                          <div class="avatar avatar-2xl me-2">
                            <img class="rounded-circle" src="{% static 'task/assets/img/team/2.jpg' %}" alt="" />
                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0"><a class="stretched-link text-900" href="#">Antony Hopkins</a></h6>
                            <p class="mb-0 fs--2 text-500">Member</p>
                          </div>
                        </div>
                        <hr class="my-2" /><a class="dropdown-item" href="#!">Member Rule</a><a class="dropdown-item text-danger" href="#!">Remove Member</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link p-0 dropdown-toggle dropdown-caret-none ms-n1" href="#" role="button" data-bs-toggle="dropdown">
                        <div class="avatar avatar-xl">
                          <img class="rounded-circle" src="{% static 'task/assets/img/team/3.jpg' %}" alt="" />
                        </div>
                      </a>
                      <div class="dropdown-menu dropdown-md px-0 py-3">
                        <div class="d-flex align-items-center position-relative px-3">
                          <div class="avatar avatar-2xl me-2">
                            <img class="rounded-circle" src="{% static 'task/assets/img/team/3.jpg' %}" alt="" />
                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0"><a class="stretched-link text-900" href="#">Rowan Atkinson</a></h6>
                            <p class="mb-0 fs--2 text-500">Member</p>
                          </div>
                        </div>
                        <hr class="my-2" /><a class="dropdown-item" href="#!">Member Rule</a><a class="dropdown-item text-danger" href="#!">Remove Member</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link p-0 dropdown-toggle dropdown-caret-none ms-n1" href="#" role="button" data-bs-toggle="dropdown">
                        <div class="avatar avatar-xl">
                          <img class="rounded-circle" src="{% static 'task/assets/img/team/4.jpg' %}" alt="" />
                        </div>
                      </a>
                      <div class="dropdown-menu dropdown-md px-0 py-3">
                        <div class="d-flex align-items-center position-relative px-3">
                          <div class="avatar avatar-2xl me-2">
                            <img class="rounded-circle" src="{% static 'task/assets/img/team/4.jpg' %}" alt="" />
                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0"><a class="stretched-link text-900" href="#">John Doe</a></h6>
                            <p class="mb-0 fs--2 text-500">Member</p>
                          </div>
                        </div>
                        <hr class="my-2" /><a class="dropdown-item" href="#!">Member Rule</a><a class="dropdown-item text-danger" href="#!">Remove Member</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link p-0 dropdown-toggle dropdown-caret-none ms-n1" href="#" role="button" data-bs-toggle="dropdown">
                        <div class="avatar avatar-xl">
                          <img class="rounded-circle" src="{% static 'task/assets/img/team/5.jpg' %}" alt="" />
                        </div>
                      </a>
                      <div class="dropdown-menu dropdown-md px-0 py-3">
                        <div class="d-flex align-items-center position-relative px-3">
                          <div class="avatar avatar-2xl me-2">
                            <img class="rounded-circle" src="{% static 'task/assets/img/team/5.jpg' %}" alt="" />
                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0"><a class="stretched-link text-900" href="#">Emily Rose</a></h6>
                            <p class="mb-0 fs--2 text-500">Member</p>
                          </div>
                        </div>
                        <hr class="my-2" /><a class="dropdown-item" href="#!">Member Rule</a><a class="dropdown-item text-danger" href="#!">Remove Member</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link p-0 dropdown-toggle dropdown-caret-none ms-n1" href="#" role="button" data-bs-toggle="dropdown">
                        <div class="avatar avatar-xl">
                          <img class="rounded-circle" src="{% static 'task/assets/img/team/6.jpg' %}" alt="" />
                        </div>
                      </a>
                      <div class="dropdown-menu dropdown-md px-0 py-3">
                        <div class="d-flex align-items-center position-relative px-3">
                          <div class="avatar avatar-2xl me-2">
                            <img class="rounded-circle" src="{% static 'task/assets/img/team/6.jpg' %}" alt="" />
                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0"><a class="stretched-link text-900" href="#">Marry Jane</a></h6>
                            <p class="mb-0 fs--2 text-500">Member</p>
                          </div>
                        </div>
                        <hr class="my-2" /><a class="dropdown-item" href="#!">Member Rule</a><a class="dropdown-item text-danger" href="#!">Remove Member</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle dropdown-caret-none p-0 ms-n1" href="#" role="button" data-bs-toggle="dropdown">
                        <div class="avatar avatar-xl">
                          <div class="avatar-name rounded-circle avatar-button"><span><span class="fas fa-plus" data-fa-trasnsform="grow-2"></span></span></div>
                        </div>
                      </a>
                      <div class="dropdown-menu dropdown-md" data-list='{"valueNames":["name"]}'>
                        <h6 class="dropdown-header py-0 px-3 mb-0">Select Member</h6>
                        <div class="dropdown-divider"></div>
                        {% comment %} <form class="px-3 mb-2"><input class="form-control form-control-sm search" type="text" placeholder="Search team member" /></form> {% endcomment %}
                        <ul class="list-unstyled list">
                          <li><a class="d-flex align-items-center text-decoration-none py-1 px-3" href="#!">
                              <div class="avatar avatar-xl me-2">
                                <img class="rounded-circle" src="{% static 'task/assets/img/team/1.jpg' %}" alt="" />
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0 link-900 name">Anna Karinina</h6>
                              </div>
                            </a></li>
                          <li><a class="d-flex align-items-center text-decoration-none py-1 px-3" href="#!">
                              <div class="avatar avatar-xl me-2">
                                <img class="rounded-circle" src="{% static 'task/assets/img/team/2.jpg' %}" alt="" />
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0 link-900 name">Antony Hopkins</h6>
                              </div>
                            </a></li>
                          <li><a class="d-flex align-items-center text-decoration-none py-1 px-3" href="#!">
                              <div class="avatar avatar-xl me-2">
                                <img class="rounded-circle" src="{% static 'task/assets/img/team/3.jpg' %}" alt="" />
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0 link-900 name">Rowan Atkinson</h6>
                              </div>
                            </a></li>
                          <li><a class="d-flex align-items-center text-decoration-none py-1 px-3" href="#!">
                              <div class="avatar avatar-xl me-2">
                                <img class="rounded-circle" src="{% static 'task/assets/img/team/4.jpg' %}" alt="" />
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0 link-900 name">John Doe</h6>
                              </div>
                            </a></li>
                          <li><a class="d-flex align-items-center text-decoration-none py-1 px-3" href="#!">
                              <div class="avatar avatar-xl me-2">
                                <img class="rounded-circle" src="{% static 'task/assets/img/team/5.jpg' %}" alt="" />
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0 link-900 name">Emily Rose</h6>
                              </div>
                            </a></li>
                          <li><a class="d-flex align-items-center text-decoration-none py-1 px-3" href="#!">
                              <div class="avatar avatar-xl me-2">
                                <img class="rounded-circle" src="{% static 'task/assets/img/team/6.jpg' %}" alt="" />
                              </div>
                              <div class="flex-1">
                                <h6 class="mb-0 link-900 name">Marry Jane</h6>
                              </div>
                            </a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                  <hr class="my-4" />
                </div>
              </div>
              <div class="d-flex"><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-tag" data-fa-transform="shrink-2"></i></span>
                <div class="flex-1">
                  <h5 class="mb-2 fs-0">Labels</h5>
                  <div class="d-flex"><span class="badge me-1 py-2 badge-soft-success">New</span><span class="badge me-1 py-2 badge-soft-primary">Goal</span><span class="badge me-1 py-2 badge-soft-info">Enhancement</span>
                    <div class="dropdown dropend"><button class="btn btn-sm btn-secondary px-2 fsp-75 bg-400 border-400 dropdown-toggle dropdown-caret-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-plus"></span></button>
                      <div class="dropdown-menu">
                        <h6 class="dropdown-header py-0 px-3 mb-0">Select Label</h6>
                        <div class="dropdown-divider"></div>
                        <div class="px-3"><button class="badge-soft-success dropdown-item rounded-1 mb-2" type="button">New</button><button class="badge-soft-primary dropdown-item rounded-1 mb-2" type="button">Goal</button><button class="badge-soft-info dropdown-item rounded-1 mb-2" type="button">Enhancement</button><button class="badge-soft-danger dropdown-item rounded-1 mb-2" type="button">Bug</button><button class="badge-soft-secondary dropdown-item rounded-1 mb-2" type="button">Documentation</button><button class="badge-soft-warning dropdown-item rounded-1 mb-2" type="button">Helper</button></div>
                        <div class="dropdown-divider"></div>
                        <div class="px-3"><button class="btn btn-sm d-block w-100 btn-outline-secondary border-400">Create Label</button></div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4" />
                </div>
              </div>
              <div class="d-flex"><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
                <div class="flex-1">
                  <div class="d-flex justify-content-between">
                  <h5 class="mb-2 fs-0">Description</h5> 
                  {% if card.description == "" %}
                  <button class="btn btn-falcon-default btn-sm dropdown-toggle dropdown-caret-none fs--2" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="fas fa-plus"></span></button>
                  {% endif %}
                </div>
                <div class="flex-1 fs--1">
                  <div class="position-relative border rounded-1 mt-2 ">
                      <textarea class="form-control border-0 rounded-bottom-0 resize-none shadow-none" rows="3" contentEditable="true" name='description' ></textarea>
                      <div class="d-flex justify-content-end bg-light rounded-bottom p-2 mt-1"><button class="btn btn-sm btn-primary" onclick="updateTitle()">Save</button>
                      </div>
                  </div>
                </div>
                  <p class="text-word-break fs--1">{{ card.description }}</p>
                  <hr class="my-4" />
                </div>
              </div>
              <div class="d-flex"> <span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-paperclip" data-fa-transform="shrink-2"></i></span>
                <div class="flex-1">
                  <div class="d-flex justify-content-between mb-2">
                    <h5 class="mb-0 fs-0">Attachments</h5>
                    <div class="dropdown"><button class="btn btn-falcon-default btn-sm dropdown-toggle dropdown-caret-none fs--2" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="fas fa-plus"></span></button>
                      <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#!">Computer</a><a class="dropdown-item" href="#!">Google Drive</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Attach Link</a>
                      </div>
                    </div>
                  </div>
                  {% comment %} <div class="d-flex align-items-center mb-3"><a class="text-decoration-none me-3" href="../assets/img/kanban/3.jpg" data-gallery="attachment-bg">
                      <div class="bg-attachment">
                        <div class="bg-holder rounded" style="background-image:url(../assets/img/kanban/3.jpg);"></div>
                        <!--/.bg-holder-->
                      </div>
                    </a>
                    <div class="flex-1 fs--2">
                      <h6 class="mb-1"> <a class="text-decoration-none" href="../assets/img/kanban/3.jpg" data-gallery="attachment-title">final-img.jpg</a></h6><a class="link-600 fw-semi-bold" href="#!">Edit</a><span class="mx-1">|</span><a class="link-600 fw-semi-bold" href="#!">Remove</a>
                      <p class="mb-0">Uploaded at 2020-04-18 5:25 pm</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-center mb-3"><a class="text-decoration-none me-3" href="../assets/img/kanban/4.jpg" data-gallery="attachment-bg">
                      <div class="bg-attachment">
                        <div class="bg-holder rounded" style="background-image:url(../assets/img/kanban/4.jpg);"></div>
                        <!--/.bg-holder-->
                      </div>
                    </a>
                    <div class="flex-1 fs--2">
                      <h6 class="mb-1"> <a class="text-decoration-none" href="../assets/img/kanban/4.jpg" data-gallery="attachment-title">picture.png</a></h6><a class="link-600 fw-semi-bold" href="#!">Edit</a><span class="mx-1">|</span><a class="link-600 fw-semi-bold" href="#!">Remove</a>
                      <p class="mb-0">Uploaded at 2020-04-20 4:34 pm</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-center mb-3"><a class="text-decoration-none me-3" href="#!">
                      <div class="bg-attachment"><span class="text-uppercase fw-bold">txt</span></div>
                    </a>
                    <div class="flex-1 fs--2">
                      <h6 class="mb-1"> <a class="text-decoration-none" href="#!">sample.txt</a></h6><a class="link-600 fw-semi-bold" href="#!">Edit</a><span class="mx-1">|</span><a class="link-600 fw-semi-bold" href="#!">Remove</a>
                      <p class="mb-0">Uploaded at 2020-04-21 2:10 pm</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-center mb-3"><a class="text-decoration-none me-3" href="#!">
                      <div class="bg-attachment"><span class="text-uppercase fw-bold">pdf</span></div>
                    </a>
                    <div class="flex-1 fs--2">
                      <h6 class="mb-1"> <a class="text-decoration-none" href="#!">example.pdf</a></h6><a class="link-600 fw-semi-bold" href="#!">Edit</a><span class="mx-1">|</span><a class="link-600 fw-semi-bold" href="#!">Remove</a>
                      <p class="mb-0">Uploaded at 2020-05-02 11:34 am</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-center"><a class="text-decoration-none me-3" href="../assets/video/beach.mp4" data-gallery="attachment-bg">
                      <div class="bg-attachment">
                        <div class="bg-holder rounded" style="background-image:url(../assets/video/beach.jpg);"></div>
                        <!--/.bg-holder-->
                        <div class="icon-play"><span class="fas fa-play"></span></div>
                      </div>
                    </a>
                    <div class="flex-1 fs--2">
                      <h6 class="mb-1"> <a class="text-decoration-none" href="../assets/video/beach.mp4" data-gallery="attachment-title">beach.mp4</a></h6><a class="link-600 fw-semi-bold" href="#!">Edit</a><span class="mx-1">|</span><a class="link-600 fw-semi-bold" href="#!">Remove</a>
                      <p class="mb-0">Uploaded at 2020-05-10 3:40 pm</p>
                    </div>
                  </div> {% endcomment %}
                  <hr class="my-4" />
                </div>
              </div>
              <div class="d-flex"><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary far fa-comment" data-fa-transform="shrink-2"></i></span>
                <div class="flex-1">
                  <h5 class="mb-3 fs-0">Comments</h5>
                  <div class="d-flex">
                    <div class="avatar avatar-l me-2">
                      <img class="rounded-circle"{% if avatar.avatar %}
                      src="{{ avatar.avatar.url }}"
                      {% else %}
                      src="avatar.png"
                      {% endif %}  alt="" />
                    </div>
                    <div class="flex-1 fs--1">
                      <div class="position-relative border rounded-1 mb-3">
                        {% comment %} <form><textarea class="form-control border-0 rounded-bottom-0 resize-none" rows="3" contentEditable="true"></textarea>
                          <div class="d-flex flex-between-center bg-light rounded-bottom p-2 mt-1"><button class="btn btn-sm btn-primary" type="submit">Save</button>
                            <ul class="list-inline mb-0">
                              <li class="list-inline-item me-1"><a class="link-600 p-2 transition-base rounded" href="#!"><span class="fas fa-paperclip"></span></a></li>
                              <li class="list-inline-item me-1"><a class="link-600 p-2 transition-base rounded" href="#!"><span class="fas fa-at"></span></a></li>
                              <li class="list-inline-item me-1"><a class="link-600 p-2 transition-base rounded" href="#!"><span class="fas fa-image"></span></a></li>
                            </ul>
                          </div>
                        </form> {% endcomment %}
                      </div>
                    </div>
                  </div>
                  {% for comment in comments %}
                  {% if comment.card.pk == card.pk %}
                  <div class="d-flex mb-3"><a href="#">
                    <div class="avatar avatar-l">
                      <img class="rounded-circle" src="avatar.png" alt="" />
                    </div>
                  </a>
                  <div class="flex-1 ms-2 fs--1">
                    <p class="mb-1 bg-200 rounded-3 p-2"><a class="fw-semi-bold" href="#">Rowan </a>This time we should finish the task before the deadline</p><a href="#!">Like</a> &bull; <a href="#!">Reply</a> &bull; 23min
                  </div>
                </div>
                  {% else %}
                  {% endif %}
                  {% endfor %}
                  <hr class="my-4" />
                </div>
              </div>
              <div class="d-flex"><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-list-ul" data-fa-transform="shrink-2"></i></span>
                <div class="flex-1">
                  <h5 class="mb-3 fs-0">Activity </h5>
                  {% for activity in activities %}
                  {% if activity.card.pk == card.pk %}
                  <div class="d-flex mb-3"><a href="">
                      <div class="avatar avatar-l">
                        <img class="rounded-circle" src="avatar.png" alt="" />
                      </div>
                    </a>
                    <div class="flex-1 ms-2 fs--1">
                      <p class="mb-0"><a class="fw-semi-bold" href="#">{{ activity.user.username }}</a>{{ activity.action }}</p>
                      <div class="fs--2">{{ activity.time }}</div>
                    </div>
                  </div>
                  {% else %}
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <h6 class="mt-5 mt-lg-0">Add To Card</h6>
              <ul class="nav flex-lg-column fs--1">
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-user me-2"></span>Members</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-tag me-2"></span>Label</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-paperclip me-2"></span>Attachments</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-check me-2"></span>Checklists</a></li>
              </ul>
              <h6 class="mt-3">Actions</h6>
              <ul class="nav flex-lg-column fs--1">
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="far fa-copy me-2"> </span>Copy</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-arrow-right me-2"></span>Move</a></li>
                <li class="nav-item me-2 me-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fas fa-trash-alt me-2"></span>Remove</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- </form> -->

    </div>
  </div>
</div>