<div class="modal fade" id="addeventModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
<form action="{% url "create_event" %}" method="POST", enctype="multipart/form-data" id="addcollectform">
          {% csrf_token %}
          <div class="modal-header">
              <button
              type="button"
              class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            ></button>
        </div>
    <div class="modal-body">
    <div class="card mb-3">
        <div class="card-body">
          <div class="row flex-between-center">
            <div class="col-md">
              <h5 class="mb-2 mb-md-0">Creer un evenement</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none">
        <input name="created_by" value="{{ user.pk }}" >
        <input name="participant" value="0" >
      </div>
      <div class="card cover-image mb-3">
        <div  class=" custom-file-upload-event p-5 d-flex justify-content-center align-item-center h-100">
            <input class="d-none" type="file" name="image" id="id_image_event" accept="image/*" required>
            <label for="id_image_event" id="upload-label-event" class='mt-5'>
              <i class="fas fa-cloud-upload-alt h-50 w-100"></i><br>
            </label>
            <div id="image-container-event" style="display: none;">
              <img id="image-preview-event" src="#" alt="Aperçu de l'image" class=" w-100 img-fluid card-img-top">
              <a href="#" id="remove-image-event" class="text-danger" aria-label="Supprimer l'image"><span class='fas fa-times' aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
    </div>
      <div class="row g-0">
        <div class="col-lg-8 pe-lg-2">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="mb-0">Details</h5>
            </div>
            <div class="card-body bg-light">
                <div class="row gx-2">
                  <div class="col-12 mb-3"><label class="form-label" for="titre">Titre</label><input class="form-control" id="titre" name="titre" type="text" placeholder="Titre de l'evenement" /></div>
                  <div class="col-sm-6 mb-3"><label class="form-label" for="date_debut">Date de Debut</label><input class="form-control" id="date_debut" name="date_debut" type="datetime-local" placeholder="J/M/A _.._ H:i"  /></div>
                  <div class="col-sm-6 mb-3"><label class="form-label" for="date_fin">Date de Fin</label><input class="form-control" id="date_fin" name="date_fin" type="datetime-local" placeholder="J/M/A _.._ H:i"  /></div>
                 
                  <div class="col-12">
                    <div class="border-dashed-bottom my-3"></div>
                  </div>
                  <div class="col mb-3"><label class="form-label" for="lieu">Lieu</label><input class="form-control" id="lieu" name="lieu" type="text" placeholder="Lieu de l'evenement" /></div>
                  <div class="col-12"><label class="form-label" for="description">Description</label><textarea class="form-control" id="description" name="description" rows="6"></textarea></div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 ps-lg-2">
          <div class="sticky-sidebar">
            <div class="card mb-lg-0">
              <div class="card-header">
                <h5 class="mb-0">Autres</h5>
              </div>
              <div class="card-body bg-light">
                <div class="mb-3">
                  <div class="d-flex flex-between-center"><label class="form-label" for="organizer">Organisateurs</label>
                </div>
                <select class=" form-control" id="organizer" multiple="multiple" name="organizer">
                  {% for organisateur in organisateurs %}
                  <option value="{{organisateur.pk}}">{{ organisateur.username }}</option>
                  {% endfor %}
                  </select>
                  <p class="form-help form-text" >Maintenez la touche CTRL pour sélectionner plusieurs</p>
                </div>
                
                <div class="mb-3"><label class="form-label" for="event-type">type d'evenement</label><select class="form-select" id="event-type" name="type_evenement">
                    {% for type in type_events %}
                    <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                  </select></div>   
                  <div class="col-12"><label class="form-label" for="objectifs">Objectifs</label><textarea class="form-control" name="objectifs" id="objectifs" rows="6"></textarea></div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <div class="row justify-content-between align-items-center">
            <div class="col-md">
              <h5 class="mb-2 mb-md-0">{{ user.username }}</h5>
            </div>
            <div class="col-auto"><button type="submit" class="btn btn-outline-success btn-sm me-2">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
</form>
      </div>
    </div>
</div>
</div>

<script>
    $("#id_image_event").change(function() {
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          $("#image-preview-event")
            .attr("src", e.target.result)
            .addClass("show")
            .css("display", "block");
          $("#upload-label-event").css("display", "none");
          $("#image-container-event").css("display", "block");
          $('.custom-file-upload-event').removeClass("p-5")
          $(".custom-file-upload-event").css("border", "none");
        };
        reader.readAsDataURL(file);
      }
    });
  
    $("#remove-image-event").click(function(e) {
      e.preventDefault();
      $("#image-preview-event")
        .attr("src", "")
        .removeClass("show")
        .css("display", "none");    
      $("#upload-label-event").css("display", "block");
      $("#image-container-event").css("display", "none");
      $("#id_image_event").val("");
    });
  </script>

  <style>
    .custom-file-upload-event {
      border: 2px solid #ccc;
      
    }

  
    #remove-image-event {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem;
    }
  </style>