{% extends "bases/sneat.html" %}
{% load static %}
{% block main %}
    <script  src="{% static 'sneat/js/list.min.js' %}"></script>

{% comment %} <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> {% endcomment %}
<div class="container-xxl flex-grow-1 container-p-y">
    {% if user.is_superuser %}
    <div class="card z-index-1" id="recentPurchaseTable" data-list='{"valueNames":["name","email","product","payment","amount"],"page":7,"pagination":true}'>
        <div class="card-header">
          <div class="row flex-between-center">
            <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
              <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Contacts</h5>
            </div>
            <div class="col-6 col-sm-auto ms-auto text-end ps-0">
              <!-- <div id="table-purchases-replace-element"><button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">New</span></button><button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Filter</span></button><button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Export</span></button></div> -->
            </div>
          </div>
        </div>
        <div class="card-body px-0 py-0">
          <div class="table-responsive scrollbar">
            <table class="table table-sm fs--1 mb-0 overflow-hidden">
              <thead class="bg-200 text-900">
                <tr>
                  <th class="white-space-nowrap">
                    
                  </th>
                  <th class="sort pe-1 align-middle white-space-nowrap" data-sort="name">Prenom</th>
                  <th class="sort pe-1 align-middle white-space-nowrap" data-sort="email">Nom</th>
                  <th class="sort pe-1 align-middle white-space-nowrap" data-sort="product">Email</th>
                  <th class="sort pe-1 align-middle white-space-nowrap text-center" data-sort="payment">Numero</th>
                  <th class="no-sort pe-1 align-middle data-table-row-action"></th>
                </tr>
              </thead>
              <tbody class="list" id="table-purchase-body">
                {% for contact in contacts %}                
                <tr class="btn-reveal-trigger">
                  <td class="align-middle" style="width: 28px;">
                    <!-- <div class="form-check mb-0"><input class="form-check-input" type="checkbox" id="recent-purchase-13" data-bulk-select-row="data-bulk-select-row" /></div> -->
                  </td>
                  <td class="align-middle white-space-nowrap email">{{ contact.first_name }}</td>
                  <td class="align-middle white-space-nowrap product">{{ contact.last_name }}</td>
                  <th class="align-middle white-space-nowrap email text-lowercase"><a href="mailto:{{ contact.email }}">{{contact.email}} </a></th>
                  <td class="align-middle text-center fs-0 white-space-nowrap payment"><span class="badge badge rounded-pill bg-warning">Non rensegné<span class="ms-1 fas fa-ban" data-fa-transform="shrink-2"></span></span></td>
                  <td class="align-middle white-space-nowrap text-end">
                    <!-- <div class="font-sans-serif position-static d-inline-block dropdown-hidden"><button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal float-end" type="button" id="dropdown13" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--1"></span></button>
                      <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown13"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item" href="#!">Refund</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item text-warning" href="#!">Archive</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                      </div>
                    </div> -->
                    <div class="font-sans-serif position-static d-inline-block">
                      <a href="#" class="btn shadow btn-light text-600 btn btn-reveal float-end" type="button" id="dropdown13" >
                          <span class="text-danger fas fa-trash fs--1"></span></a>
                  </div>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="card-footer">
          <div class="row align-items-center">
            <div class="pagination d-none"></div>
            <div class="col">
              <p class="mb-0 fs--1"><span class="d-none d-sm-inline-block me-2" data-list-info="data-list-info"> </span></p>
            </div>
            <div class="col-auto d-flex"><button class="btn btn-sm btn-primary" type="button" data-list-pagination="prev"><span>Previous</span></button><button class="btn btn-sm btn-primary px-4 ms-2" type="button" data-list-pagination="next"><span>Next</span></button></div>
          </div>
        </div> -->
    </div>
      <!-- <hr class="my-5" />   -->
    {% else %}
    <div class="container-xxl container-p-y">
      <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Permission requise</h2>
        <p class="mb-4 mx-2">Desole, vous n'avez pas la permission d'acceder a cette page </p>
        <div class="mt-4">
          <img
            src="{% static 'sneat/assets/img/illustrations/girl-doing-yoga-light.png' %}"
            alt="girl-doing-yoga-light"
            width="500"
            class="img-fluid"
            data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
            data-app-light-img="illustrations/girl-doing-yoga-light.png"
          />
        </div>
      </div>
    </div>
    {% endif %}
  </div>

<script>
    $('.contacts').addClass('active')
</script>
{% endblock main %}

{% block floting_button %}

{% endblock floting_button %}


{% block madals %}
{% endblock madals %}

