{% extends "bases/sneat.html" %}
{% load static %}
{% block main %}
    <script  src="{% static 'sneat/js/list.min.js' %}"></script>

{% comment %} <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> {% endcomment %}
<div class="container-xxl flex-grow-1 container-p-y">
    {% if user.is_superuser %}
    {% if newsletters %}
    

    <div class='card'>
      <div class="card-header">
        <div class="row flex-between-center">
          <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
            <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Inscris au newsletters</h5>
          </div>
          <div class="col-6 col-sm-auto ms-auto text-end ps-0">
            <div id="table-purchases-replace-element">
<button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal-sm transition-none hide-arrow" type="button" id="crm-recent-leads-0" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-external-link-alt mx-2"></span>Exporter</button>
                <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="crm-recent-leads-0"><a class="dropdown-item " href="#!"><span class="fas mx-3 fa-file-code me-1"></span>JSON</a>                  
                <a class="dropdown-item   mx-3" href="#!" data-id-admin = {{ admin.pk }}><span class="fas  fa-file-excel me-1"></span>EXCEL</a>
                 
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="card mt-3 z-index-1" id="recentPurchaseTable" data-list='{"valueNames":["name","email","product","payment","amount"],"page":7,"pagination":true}'>
        <div class="card-body p-0 ">
          <div class="table-responsive scrollbar">
            <table class="table table-sm fs--1 mb-0 overflow-hidden border table-striped ">
              <thead class="bg-200 text-900 p-3">
                <tr class='p-3'>
                  <th class="sort  align-middle white-space-nowrap p-3 px-4" data-sort="product">Email</th>
                  <th class="sort  align-middle white-space-nowrap  text-center" data-sort="payment">Status</th>
                  <th class="no-sort  align-middle data-table-row-action text-center">Actions</th>
                </tr>
              </thead>
              <tbody class="list" id="table-purchase-body">
                {% for newsletter in newsletters %}                
                <tr class="btn-reveal-trigger">
                  <th class="align-middle white-space-nowrap email text-lowercase"><a class='nav-link' href="mailto:{{ newsletter.email }}">{{newsletter.email}} </a></th>
                  <td class="align-middle text-center fs-0 white-space-nowrap payment">
                    {% if newsletter.status == "abonne" %}
                    <span class="badge badge rounded-pill bg-success">Abonné<span class="ms-1 fas fa-check-circle" data-fa-transform="shrink-2">
                    {% else %}
                    <span class="badge badge rounded-pill bg-danger">Désabonné<span class="ms-1 fas fa-ban" data-fa-transform="shrink-2">
                    {% endif %}

                    </span>
                
                </span></td>
                  <td class="align-middle white-space-nowrap text-end">
                    <div class="font-sans-serif position-static d-inline-block">
                        <a href="{% url "delete_newsletters" newsletter.pk %}" class="btn shadow btn-light text-600 btn btn-reveal float-end" type="button" id="dropdown13" >
                            <span class="text-danger fas fa-trash fs--1"></span></a>
                    </div>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
    </div>
    {% else %}
    <div class="card z-index-1" >
      <div class="card-header">
        <div class="row flex-between-center">
          <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
            <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Pas encore d'inscription au newsletters</h5>
          </div>
          <div class="col-6 col-sm-auto ms-auto text-end ps-0">
            <div id="table-purchases-replace-element">
              <button class="btn btn-danger " type="button"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                <span class="d-none d-sm-inline-block ms-1">Nouveau</span></button></div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% else %}
    <div class="container-xxl container-p-y">
      <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Permission requise</h2>
        <p class="mb-4 mx-2">Desole, vous n'avez pas la permission d'acceder a cette page </p>
        <div class="mt-4">
          <img
            src="{% static 'sneat/assets/img/illustrations/girl-doing-yoga-light.png' %}"
            alt="girl-doing-yoga-light"
            width="500"
            class="img-fluid"
            data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
            data-app-light-img="illustrations/girl-doing-yoga-light.png"
          />
        </div>
      </div>
    </div>
    {% endif %}

  </div>

<script>
    $('.newsletters').addClass('active')
</script>
{% endblock main %}

{% block floting_button %}

{% endblock floting_button %}


{% block madals %}
{% include "administration/components/addusermodal.html" %}
{% endblock madals %}

