<nav class="navbar navbar-light navbar-vertical navbar-expand-xl" style="display: none;">
    <script>
      var navbarStyle = localStorage.getItem("navbarStyle");
      if (navbarStyle && navbarStyle !== 'transparent') {
        document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
      }
    </script>
    <div class="d-flex align-items-center">
      <div class="toggle-icon-wrapper">
        <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
      </div><a class="navbar-brand" href="#">
        <div class="d-flex align-items-center py-3"><span class="nav-link-icon"><span class="fab fa-trello"></span></span><span class="font-sans-serif mx-2">TaSK</span></div>
      </a>
    </div>
    <div class="collapse navbar-collapse rounded " id="navbarVerticalCollapse">
      <div class="navbar-vertical-content scrollbar p-3 d-none">
        <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
          <li class="nav-item">
            <!-- parent pages--><a class="nav-link dropdown-indicator" href="#dashboard" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dashboard">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text ps-1">Dashboard</span></div>
            </a>
            <ul class="nav collapse" id="dashboard">
              <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Default</span></div>
                </a><!-- more inner pages-->
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

