{% extends "bases/landing.html" %}
{% load static %}
{% load custom_filter %}
{% block main %}
<main>
    <section class="hero-section hero-section-full-height">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12 col-12 p-0">
                    <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static "landing/images/slide/0.jpg" %}"
                                    class="carousel-image img-fluid" alt="...">

                                <div class="carousel-caption d-flex flex-column justify-content-end">
                                    <h1>Soyez Gentille</h1>

                                    <p>La gentillesse n'as pas de pris</p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="{% static "landing/images/slide/6.jpg" %}"
                                    class="carousel-image img-fluid" alt="...">

                                <div class="carousel-caption d-flex flex-column justify-content-end">
                                    <h1>Non profit</h1>

                                    <p>Donner sans attendre</p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="{% static "landing/images/slide/8.jpg" %}"
                                    class="carousel-image img-fluid" alt="...">

                                <div class="carousel-caption d-flex flex-column justify-content-end">
                                    <h1>Humulité</h1>

                                    <p>l'umilité gagne le respect</p>
                                </div>
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#hero-slide"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-10 col-12 text-center mx-auto">
                    <h2 class="mb-5">Bienvenue a Santé de Coeur</h2>
                </div>

                <div class="col-md-4 col-12 mb-4 mb-lg-0">
                    <div class="featured-block d-flex justify-content-center align-items-center">
                        <a href="section_4#" class="d-block">
                            <img src="{% static "landing/images/icons/hands.png" %}" class="featured-block-image img-fluid" alt="">

                            <p class="featured-block-text">Devenir <strong>Volontaire</strong></p>
                        </a>
                    </div>
                </div>

                {% comment %} <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                    <div class="featured-block d-flex justify-content-center align-items-center">
                        <a href="donate.html" class="d-block">
                            <img src="{% static "landing/images/icons/heart.png" %}" class="featured-block-image img-fluid" alt="">

                            <p class="featured-block-text"><strong>Don</strong> Earth</p>
                        </a>
                    </div>
                </div> {% endcomment %}

                <div class="col-md-4 col-12 mb-4 mb-lg-0 mb-md-4">
                    <div class="featured-block d-flex justify-content-center align-items-center">
                        <a href="#section_3" class="d-block">
                            <img src="{% static "landing/images/icons/receive.png" %}" class="featured-block-image img-fluid" alt="">

                            <p class="featured-block-text">Faire a <strong>Don</strong></p>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-12 mb-4 mb-lg-0">
                    <div class="featured-block d-flex justify-content-center align-items-center">
                        <a href="#" class="d-block">
                            <img src="{% static "landing/images/icons/scholarship.png" %}" class="featured-block-image img-fluid" alt="">

                            <p class="featured-block-text">Nous <strong>Soutenir</strong></p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section-padding section-bg" id="section_2">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-5 mb-lg-0 h-100">
                    <img src="{% static "landing/images/qsn.jpg" %}"
                        class="custom-text-box-image img-fluid h-100" alt="">
                </div>

                <div class="col-lg-6 col-12 h-100">
                    <div class="custom-text-box">
                        <h2 class="mb-2">Qui somme nous ?</h2>

                        <h5 class="mb-3">Sante de Coeur, Organisation a but non lucratif</h5>

                        <p class="mb-0">Santé de Cœur est une association apolitique à but non lucratif qui a été créée par de jeunes étudiants en Médecine. Son objectif principal est d'améliorer le système sanitaire et d'aider les patients nécessiteux se trouvant dans tous les hôpitaux du Sénégal.</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 h-100">
                            <div class="custom-text-box mb-lg-0 h-100">
                                <h5 class="mb-3">Notre Mission</h5>


                                <ul class="custom-list mt-2">
                                    <li class="custom-list-item d-flex">
                                        <i class="bi-check custom-text-box-icon me-2"></i>
                                        Consultation gratuite
                                    </li>
                                    <li class="custom-list-item d-flex">
                                        <i class="bi-check custom-text-box-icon me-2"></i>
                                        Colletes Pour Malades
                                    </li>
                                    <li class="custom-list-item d-flex">
                                        <i class="bi-check custom-text-box-icon me-2"></i>
                                        Distrubition de medicaments
                                    </li>
                                    <li class="custom-list-item d-flex">
                                        <i class="bi-check custom-text-box-icon me-2"></i>
                                        Don de sangs etc..
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12 h-100">
                            <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0 h-100">
                                <div class="counter-thumb">
                                    <div class="d-flex">
                                        <span class="counter-number" data-from="1" data-to="200"
                                            data-speed="1000"></span>
                                        <span class="counter-number-text"></span>
                                    </div>

                                    <span class="counter-text">Colletes</span>
                                </div>

                                <div class="counter-thumb mt-4">
                                    <div class="d-flex">
                                        <span class="counter-number" data-from="1" data-to="10000"
                                            data-speed="100"></span>
                                        <span class="counter-number-text">F</span>
                                    </div>

                                    <span class="counter-text">Dons</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="about-section section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-5 col-12">
                    <img src="{% static "landing/images/profil.jpg" %}"
                        class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
                </div>

                <div class="col-lg-5 col-md-7 col-12">
                    <div class="custom-text-block">
                        <h2 class="mb-0">Fatou WADE </h2>

                        <p class="text-muted mb-lg-4 mb-md-4"> doctorat 3 de médecine,  fondatrice et PDG de Medical’Fa</p>

                        <p>J’ai intégré l’association Santé de cœur depuis 2021 ou début 2022 
                            J’ai participé à votre première campagne medical à Thiadaye 
                            J’avais vraiment apprécié parce que j’ai vu de jeunes médecins vraiment engagés très solidaires et très très sociables avec une joie de vivre énorme. </p>

                        <p>je vous encourage à continuer dans cette lancée </p>

                        <ul class="social-icon ">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-facebook"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="cta-section section-padding section-bg">
        <div class="container">
            <div class="row justify-content-center align-items-center">

                <div class="col-lg-5 col-12 ms-auto">
                    <h2 class="mb-0">Agissez. <br> Sauvez des Vies.</h2>
                </div>

                <div class="col-lg-5 col-12">
                    <a href="#" class="me-4">Faire un Don</a>

                    <a href="#section_4" class="custom-btn btn smoothscroll">Devenir Volontaire</a>
                </div>

            </div>
        </div>
    </section>


    <section class="section-padding" id="section_3">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center mb-4">
                    <h2>Nos collects</h2>
                </div>
                {% for collect  in collects %}
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block-wrap">
                        <img src="{{ collect.image.url }}"
                            class="custom-block-image img-fluid" alt="">

                        <div class="custom-block">
                            <div class="custom-block-body">
                                <h5 class="mb-3">{{ collect.title }}</h5>

                                <p>{{ collect.description|truncatewords:15 }}</p>

                                <div class="progress  mt-4">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ collect.raised|percent:collect.goal|floatformat }}%" aria-valuenow="56"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                <div class="d-flex align-items-center my-2">
                                    <p class="mb-0">
                                        <strong>Dons:</strong>
                                        {{ collect.raised|floatformat }}f
                                    </p>

                                    <p class="ms-auto mb-0">
                                        <strong>Objecif:</strong>
                                        {{ collect.goal|floatformat }}f
                                    </p>
                                </div>
                            </div>

                            <a href="" class="custom-btn btn btn_doncollectmodal"
                            data-bs-toggle="modal"
                            data-bs-target="#doncollectmodal"
                            data-collect-pk = {{ collect.pk }}
                            data-image-url="{{ collect.image.url }}"
                            data-name="{{ collect.title }}"
                            data-description="{{ collect.description }}"
                            data-raised="{{ collect.raised }}"
                            data-goal="{{ collect.goal }}"
                            data-end-date = "{{ collect.end_date|date:'D d M Y'  }}"
                            data-percent = "{{ collect.raised|percent:collect.goal|floatformat }}"
                            >faire un don</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="volunteer-section section-padding" id="section_4">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <h2 class="text-white mb-4">Volontaire</h2>
                    {% include "landing/forms/volunteer.html" %}
                </div>

                <div class="col-lg-6 col-12">
                    <img src="{% static "landing/images/qsn.jpg" %}"
                        class="volunteer-image img-fluid" alt="">

                    <div class="custom-block-body text-center">
                        <h4 class="text-white mt-lg-3 mb-lg-3">Engagez-vous avec passion</h4>

                        <p class="text-white">En tant que volontaire chez Sante de coeur, vous contribuez directement à construire un monde plus sain et plus solidaire. Rejoignez-nous pour faire la différence, un geste bénévole à la fois.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="news-section section-padding" id="section_5">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 mb-5">
                    <h2>Dernieres campagnes</h2>
                </div>

                <div class="col-lg-7 col-12">
                    {% for campagne in campagnes %}
                    
                    <div class="news-block">
                        <div class="news-block-top">
                            <a href="#">
                                <img src="{{ campagne.image.url }}"
                                    class="news-image img-fluid" alt="">
                            </a>

                            <div class="news-category-block">
                                <a href="#" class="category-block-link">
                                    Lifestyle,
                                </a>

                                <a href="#" class="category-block-link">
                                    Don de vetement
                                </a>
                            </div>
                        </div>

                        <div class="news-block-info">
                            <div class="d-flex mt-2">
                                <div class="news-block-date">
                                    <p>
                                        <i class="bi-calendar4 custom-icon me-1"></i>
                                        {{ campagne.created_at }}
                                    </p>
                                </div>

                                <div class="news-block-author mx-5">
                                    <p>
                                        <i class="bi-person custom-icon me-1"></i>
                                        {{ campagne.created_by }}
                                    </p>
                                </div>

                                <div class="news-block-comment">
                                    <p>
                                        <i class="bi-chat-left custom-icon me-1"></i>
                                        32 Commentaires
                                    </p>
                                </div>
                            </div>

                            <div class="news-block-title mb-2">
                                <h4><a href="#" class="news-block-title-link">{{ campagne.titre|capfirst }}</a></h4>
                            </div>

                            <div class="news-block-body">
                                <p>{{ campagne.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="col-lg-4 col-12 mx-auto">
                    {% comment %} <form class="custom-form search-form" action="#" method="post" role="form">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">

                        <button type="submit" class="form-control">
                            <i class="bi-search"></i>
                        </button>
                    </form> {% endcomment %}

                    <h5 class="mb-3">Autres</h5>

                    <div class="news-block news-block-two-col d-flex mt-4">
                        <div class="news-block-two-col-image-wrap">
                            <a href="#">
                                <img src="{% static "landing/images/news/africa-humanitarian-aid-doctor.jpg" %}"
                                    class="news-image img-fluid" alt="">
                            </a>
                        </div>

                        <div class="news-block-two-col-info">
                            <div class="news-block-title mb-2">
                                <h6><a href="#" class="news-block-title-link">Don de sang</a>
                                </h6>
                            </div>

                            <div class="news-block-date">
                                <p>
                                    <i class="bi-calendar4 custom-icon me-1"></i>
                                    Dimanche
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="news-block news-block-two-col d-flex mt-4">
                        <div class="news-block-two-col-image-wrap">
                            <a href="#">
                                <img src="{% static "landing/images/news/close-up-happy-people-working-together.jpg" %}"
                                    class="news-image img-fluid" alt="">
                            </a>
                        </div>

                        <div class="news-block-two-col-info">
                            <div class="news-block-title mb-2">
                                <h6><a href="#" class="news-block-title-link">SET SETAL</a>
                                </h6>
                            </div>

                            <div class="news-block-date">
                                <p>
                                    <i class="bi-calendar4 custom-icon me-1"></i>
                                    Lundi
                                </p>
                            </div>
                        </div>
                    </div>

                    {% comment %} <div class="category-block d-flex flex-column">
                        <h5 class="mb-3">Categories</h5>

                        <a href="#" class="category-block-link">
                            Drinking water
                            <span class="badge">20</span>
                        </a>

                        <a href="#" class="category-block-link">
                            Food Donation
                            <span class="badge">30</span>
                        </a>

                        <a href="#" class="category-block-link">
                            Children Education
                            <span class="badge">10</span>
                        </a>

                        <a href="#" class="category-block-link">
                            Poverty Development
                            <span class="badge">15</span>
                        </a>

                        <a href="#" class="category-block-link">
                            Clothing Donation
                            <span class="badge">20</span>
                        </a>
                    </div>

                    <div class="tags-block">
                        <h5 class="mb-3">Tags</h5>

                        <a href="#" class="tags-block-link">
                            Donation
                        </a>

                        <a href="#" class="tags-block-link">
                            Clothing
                        </a>

                        <a href="#" class="tags-block-link">
                            Food
                        </a>

                        <a href="#" class="tags-block-link">
                            Children
                        </a>

                        <a href="#" class="tags-block-link">
                            Education
                        </a>

                        <a href="#" class="tags-block-link">
                            Poverty
                        </a>

                        <a href="#" class="tags-block-link">
                            Clean Water
                        </a>
                    </div> {% endcomment %}

                    {% include "landing/forms/newsletter.html" %}
                </div>

            </div>
        </div>
    </section>


    {% comment %} <section class="testimonial-section section-padding section-bg">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <h2 class="mb-lg-3">Donneurs</h2>

                    <div id="testimonial-carousel" class="carousel carousel-fade slide" data-bs-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="carousel-caption">
                                    <h4 class="carousel-title">Lorem Ipsum dolor sit amet, consectetur adipsicing
                                        kengan omeg kohm tokito charity theme</h4>

                                    <small class="carousel-name"><span class="carousel-name-title">Maria</span>,
                                        Boss</small>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="carousel-caption">
                                    <h4 class="carousel-title">Sed leo nisl, posuere at molestie ac, suscipit auctor
                                        mauris quis metus tempor orci</h4>

                                    <small class="carousel-name"><span class="carousel-name-title">Thomas</span>,
                                        Partner</small>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="carousel-caption">
                                    <h4 class="carousel-title">Lorem Ipsum dolor sit amet, consectetur adipsicing
                                        kengan omeg kohm tokito charity theme</h4>

                                    <small class="carousel-name"><span class="carousel-name-title">Jane</span>,
                                        Advisor</small>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="carousel-caption">
                                    <h4 class="carousel-title">Sed leo nisl, posuere at molestie ac, suscipit auctor
                                        mauris quis metus tempor orci</h4>

                                    <small class="carousel-name"><span class="carousel-name-title">Bob</span>,
                                        Entreprenuer</small>
                                </div>
                            </div>

                            <ol class="carousel-indicators">
                                <li data-bs-target="#testimonial-carousel" data-bs-slide-to="0" class="active">
                                    <img src="{% static "landing/images/avatar/portrait-beautiful-young-woman-standing-grey-wall.jpg" %}"
                                        class="img-fluid rounded-circle avatar-image" alt="avatar">
                                </li>

                                <li data-bs-target="#testimonial-carousel" data-bs-slide-to="1" class="">
                                    <img src="{% static "landing/images/avatar/portrait-young-redhead-bearded-male.jpg" %}"
                                        class="img-fluid rounded-circle avatar-image" alt="avatar">
                                </li>

                                <li data-bs-target="#testimonial-carousel" data-bs-slide-to="2" class="">
                                    <img src="{% static "landing/images/avatar/pretty-blonde-woman-wearing-white-t-shirt.jpg" %}"
                                        class="img-fluid rounded-circle avatar-image" alt="avatar">
                                </li>

                                <li data-bs-target="#testimonial-carousel" data-bs-slide-to="3" class="">
                                    <img src="{% static "landing/images/avatar/studio-portrait-emotional-happy-funny.jpg" %}"
                                        class="img-fluid rounded-circle avatar-image" alt="avatar">
                                </li>
                            </ol>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> {% endcomment %}


    <section class="contact-section section-padding" id="section_6">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
                    <div class="contact-info-wrap">
                        <h2>Contact</h2>

                        <div class="contact-image-wrap d-flex flex-wrap">
                            <img src="{% static "logo.png" %}"
                                class="img-fluid avatar-image" alt="">

                            <div class="d-flex flex-column justify-content-center ms-3">
                                <p class="mb-0">Sante de coeur</p>
                                <p class="mb-0"><strong>Coeurs unis pour la sante de tous !</strong></p>
                            </div>
                        </div>

                        <div class="contact-info">
                            <h5 class="mb-3">Infomation de Contact</h5>

                            <p class="d-flex mb-2">
                                <i class="bi-geo-alt me-2"></i>
                                Dakar / grand yoff
                            </p>

                            <p class="d-flex mb-2">
                                <i class="bi-telephone me-2"></i>

                                <a href="tel: 00221781245666 ">
                                    00221 78 124 56 66
                                </a>
                            </p>

                            <p class="d-flex">
                                <i class="bi-envelope me-2"></i>

                                <a href="mailto:santedetous@gmail.com">
                                    santedetous@gmail.com
                                </a>
                            </p>

                            {% comment %} <a href="#" class="custom-btn btn mt-3">Localiser</a> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-12 mx-auto">
                   {% include "landing/forms/contact.html" %}
                </div>

            </div>
        </div>
    </section>
</main>
{% endblock main %}