   {% load static %}

    <script  src="{% static 'sneat/assets/vendor/libs/popper/popper.js' %}"></script>
    <script  src="{% static 'sneat/assets/vendor/js/bootstrap.js' %}"></script>
    <script  src="{% static 'sneat/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script  src="{% static 'sneat/assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script  src="{% static 'sneat/assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'fontawesome/js/all.min.js' %}"></script>

    <!-- Main JS -->
    <script  src="{% static 'sneat/assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script  src="{% static 'sneat/assets/js/dashboards-analytics.js' %}"></script>
    <script  src="{% static 'sneat/js/main.js' %}"></script>
    <script  src="{% static 'sneat/js/validate_actions.js' %}"></script>
    <script  src="{% static 'sneat/js/validate_forms.js' %}"></script>
