{% extends "bases/sneat.html" %}
{% load static %}
{% block main %}
<div class="container-xxl flex-grow-1 container-p-y">
    {% if user.is_superuser %}
    <div class="d-md-flex justify-content-between">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Organisation /</span> Admins </h4>
      {% if message %}
      <div class="alert alert-success alert-dismissible" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
    </div>
      <!-- Striped Rows -->
      <div class="card">
        <h5 class="card-header">Administrateurs</h5>
        <div class="table-responsive text-nowrap">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Username</th>
                <th>Status Equipe</th>
                <th>Status Compte</th>
                <th ></th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for admin in admins %}
              <tr>
                <td >
                  <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                    <li
                      data-bs-toggle="tooltip"
                      data-popup="tooltip-custom"
                      data-bs-placement="top"
                      class="avatar avatar-xs pull-up"
                      title="Lilian Fuller"
                    >
                    {% if avatar %}
                    <img src="{{ avatar.avatar.url }}" alt="Avatar" class="rounded-circle" />
                    {% else %}
                    <img src="{{ site.avatar.url }}" alt="Avatar" class="rounded-circle" />
                    {% endif %}
                    </li>
                    {% if admin.first_name %}
                    <strong class='mx-2'>{{ admin.first_name }} {{ admin.last_name }}</strong>
                    {% else %}
                    <strong class='mx-2'>{{ admin.username }}</strong>
                    {% endif %}
                    {% if admin.pk == user.pk %}
                  <span class="badge bg-label-secondary me-1">vous</span>
                    {% endif %}
                  </ul>
                </td>
                <td> 
                <div class="d-flex justify-content-center" >
                  {% if admin.is_superuser %}<span class="badge bg-label-success me-1">Superuser</span>
                  {% elif admin.is_staff %}<span class="badge bg-label-primary  me-1">Admin</span>
                  {% else %}<span class="badge bg-label-warning  me-1">Simple user</span>{% endif %}
                </div>
                </td>
                <td>
                <div class="d-flex justify-content-center" >
                  {% if admin.is_active %}
                  <span class="badge bg-label-success me-1">Active</span>
                  {% else %}
                  <span class="badge bg-label-danger  me-1">desactivé</span>
                  {% endif %}
                </div>
                </td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-edit"></i>
                    </button>
                    <div class="dropdown-menu" style='position : absolute;'>
                      <a class="dropdown-item" href="javascript:void(0);"
                        ><i class="bx bx-edit-alt me-1"></i> Editer</a
                      >
                      <a class="dropdown-item delete_admin btn"
                      
                      data-id-admin = {{ admin.pk }}
                      ><i class="bx bx-trash me-1"></i> Supprimer</a
                      >
                      {% if admin.is_active == True %}
                      <a class="dropdown-item desable_admin btn"
                      data-id-admin = {{ admin.pk }}
                      ><i class="bx bx-trash me-1"></i> Desactiver </a
                      >
                      {% else %}
                      <a class="dropdown-item activate_admin btn"
                      data-id-admin = {{ admin.pk }}
                      ><i class="bx bx-badge me-1"></i> Activer </a
                      >
                      {% endif %}
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}

  
              <script>
                
              </script>
            </tbody>
          </table>
        </div>
      </div>
      <!--/ Striped Rows -->
      <hr class="my-5" />
    {% else %}
    <div class="container-xxl container-p-y">
      <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Permission requise</h2>
        <p class="mb-4 mx-2">Desole, vous n'avez pas la permission d'acceder a cette page </p>
        <div class="mt-4">
          <img
            src="{% static 'sneat/assets/img/illustrations/girl-doing-yoga-light.png' %}"
            alt="girl-doing-yoga-light"
            width="500"
            class="img-fluid"
            data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
            data-app-light-img="illustrations/girl-doing-yoga-light.png"
          />
        </div>
      </div>
    </div>
    {% endif %}
  </div>

<script>
    $('.admins').addClass('active')
</script>
{% endblock main %}

{% block floting_button %}
{% if user.is_superuser %}

<a
  href="#"
  target="_blank"
  class="btn btn-danger btn-buy-now"
  data-bs-toggle="modal"
  data-bs-target="#adduserModal"
  >ajouter un admin </a
  >
  {% endif %}
{% endblock floting_button %}


{% block madals %}
{% include "administration/components/addusermodal.html" %}
{% endblock madals %}