{% extends "bases/sneat.html" %}
{% load static %}
{% block main %}
    <script  src="{% static 'sneat/js/list.min.js' %}"></script>

{% comment %} <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> {% endcomment %}
<div class="container-xxl flex-grow-1 container-p-y">

    {% if user.is_superuser %}
      <div class="card" id="TableCrmRecentLeads" data-list='{"valueNames":["name","email","status"],"page":8,"pagination":true}'>
        <div class="card-body px-0 py-0">
          <div class="table-responsive scrollbar ">
            <table class="table fs--1 mb-0 table-striped overflow">
              <thead class="bg-200 text-800">
                <tr>
                  <th class="sort align-middle" data-sort="name">Nom</th>
                  <th class="sort align-middle" data-sort="email">Email</th>
                  <th class="sort align-middle" data-sort="status">Status</th>
                  <th class="sort align-middle text-end">Actions</th>
                </tr>
              </thead>
              <tbody class="list" id="table-recent-leads-body">
              {% for admin in admins %}
                <tr class="hover-actions-trigger btn-reveal-trigger hover-bg-100">
                  <td class="align-middle white-space-nowrap"><a href="{% if user.pk == admin.pk %}
                  {% url "profile" %}
                  {% else %}
                  {% endif %}">
                      <div class="d-flex align-items-center"> 
                        <div class="avatar avatar">

                    {% if avatars %}
                    {% for item in avatars %}
                    {% if item.user == admin %}
                    {% if item.avatar %}
                    <img src="{{ item.avatar.url }}" alt="Avatar" class="rounded-circle" />
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                        </div>
                        <h6 class="mb-0 ps-2 text-800 name">
                          {% if admin.first_name %}
                          {{ admin.first_name }} {{ admin.last_name }}
                          {% else %}
                          {{ admin.username }}
                          {% endif %}
                          {% if admin.is_active %}
                          <span  title="Active" class="ms-1 text-success fas fa-check-circle" data-fa-transform="shrink-2"></span>
                          {% else %}
                          <span title="Inactif" class="ms-1 text-danger fas fa-times-circle" data-fa-transform="shrink-2"></span>
                          {% endif %}
                          {% if admin.pk == user.pk %}
                  <span class="badge rounded bg-label-secondary me-1">vous</span>
                    {% endif %}
                        </h6>
                      </div>
                    </a></td>
                  <td class="align-middle white-space-nowrap text-primary email"><a href="mailto:{{admin.email}}">{{ admin.email }} {% if not admin.email %}<span class="badge badge rounded-pill bg-warning">Non rensegné<span class="ms-1 fas fa-ban" data-fa-transform="shrink-2"></span>{% endif %} </a></td>
                  <td class="align-middle white-space-nowrap">
                    <div class="d-flex justify-content-center">
                    {% if admin.is_superuser %}
                    <small class="badge fw-semi-bold  status bg-label-success">Superuser</small>
                    {% elif admin.is_staff %}
                    <small class="badge fw-semi-bold  status bg-label-info">Admin</small>
                    {% else %}
                    <small class="badge fw-semi-bold  status bg-label-warning">Simple user</small>
                    {% endif %}
                    </div>
                  </td>
                  <td class="align-middle white-space-nowrap text-end position-relative">
                    <div class="dropdown font-sans-serif btn-reveal-trigger"><button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal-sm transition-none hide-arrow" type="button" id="crm-recent-leads-0" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
                      <span class="fas fa-ellipsis-h fs--2"></span></button>
                      <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="crm-recent-leads-0"><a class="dropdown-item text-info btn_edit_user" href="#!" 
                        data-bs-target="#edituserModal"
                        data-bs-toggle="modal" 
                        data-pk = {{ admin.pk }}
                        data-username = {{ admin.username }}
                        data-email = {{ admin.email }}
                        data-first-name = {{ admin.first_name }}
                        data-last-name = {{ admin.last_name }}
                        data-staff = {{ admin.is_staff }}
                        data-superuser = {{ admin.is_superuser }}
                        ><span class="fas fa-pen me-1"></span>Editer</a>
                        {% if not admin.is_active %}
                      
                      <button class="dropdown-item text-success activate_admin" role="button" data-id-admin = {{ admin.pk }}><span class="fas fa-check-circle me-1"></span>Activer</button>
                        {% else %}
                        <button class="dropdown-item text-warning desable_admin" role="button" data-id-admin = {{ admin.pk }}><span class="fas fa-times-circle me-1"></span>Desactiver</button>
                        {% endif %}
                        <div class="dropdown-divider"></div><button class="dropdown-item text-danger delete_admin" role="button" data-id-admin = {{ admin.pk }}><span class="fas fa-trash-alt me-1"></span>Supprimer</button>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% else %}
    <div class="container-xxl container-p-y">
      <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Permission requise</h2>
        <p class="mb-4 mx-2">Desole, vous n'avez pas la permission d'acceder a cette page </p>
        <div class="mt-4">
          <img
            src="{% static 'sneat/assets/img/illustrations/girl-doing-yoga-light.png' %}"
            alt="girl-doing-yoga-light"
            width="500"
            class="img-fluid"
            data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
            data-app-light-img="illustrations/girl-doing-yoga-light.png"
          />
        </div>
      </div>
    </div>
    {% endif %}
  </div>

<script>
    $('.admins').addClass('active')
</script>
{% endblock main %}

{% block floting_button %}
{% if user.is_superuser %}

<a
  href="#"
  target="_blank"
  class="btn btn-danger btn-buy-now"
  data-bs-toggle="modal"
  data-bs-target="#adduserModal"
  >ajouter un admin </a
  >
  {% endif %}
{% endblock floting_button %}


{% block madals %}
{% include "administration/components/addusermodal.html" %}
{% include "administration/components/editusermodal.html" %}
{% endblock madals %}