{% for column in columns %}
<div class="kanban-column " id="kanbancolumn{{column.pk}}">
  <div class="kanban-column-header">
    <input value="{{ column.title }}" id="editcolumn{{ column.pk }}" class="form-control bg-transparent shadow-none fw-bold fs-0 mb-0 d-none" style="border:none;">
    <h5 data-column-pk={{ column.pk }} data-btn-edit-id="btn_edit_column{{ column.pk }}" role="button" class="fs-0 mb-0 fw-bold btn_edit_column" id="labelcolumn{{ column.pk }}" data-input-id="editcolumn{{ column.pk }}" data-label-id="labelcolumn{{ column.pk }}" data-btn-save-id="btnsavetitlecolumn{{ column.pk }}">{{ column.title }} <span class="text-500"></span></h5>
    <div class="d-flex ">
    <div class=" font-sans-serif btn-reveal-trigger">
      <button class="btn btn-sm btn-reveal py-0 px-2 btn_edit_column" type="button" id="btn_edit_column{{ column.pk }}" aria-haspopup="true" aria-expanded="false" data-input-id="editcolumn{{ column.pk }}" data-label-id="labelcolumn{{ column.pk }}" data-btn-save-id="btnsavetitlecolumn{{ column.pk }}" data-btn-edit-id="btn_edit_column{{ column.pk }}" data-column-pk={{ column.pk }}><span class="fas fa-pen"></span></button>
      <button class="btn btn-sm btn-reveal py-0 px-2 d-none btn_save_title_column" type="button" id="btnsavetitlecolumn{{ column.pk }}" aria-haspopup="true" aria-expanded="false"><span class="fas fa-check"></span></button>
    </div>
    <div class=" font-sans-serif btn-reveal-trigger mx-1">
      <button class="btn btn-sm btn-reveal py-0 px-2 btn-delete-column" type="button" id="kanbanColumn1" aria-haspopup="true" aria-expanded="false" data-column-pk={{ column.pk }} data-column-item-id="kanbancolumn{{column.pk}}"><span class="fas fa-trash"></span></button>
    </div>
  </div>
  </div>
  <div class="kanban-items-container kanbancontainer{{ column.pk }}   scrollbar">
    {% include "task/items/kanban/forms/addcardform.html" %}
    {% include "task/items/kanban/card.html" %}
  </div>
  <div class="kanban-column-footer"><button class="btn btn-link btn-sm d-block w-100 btn-add-card shadow-none text-decoration-none text-600" type="button" ><span class="fas fa-plus me-2"></span>Add another card</button></div>
</div>
{% endfor %}