{% extends "task/base.html" %}
{% load static %}
{% load log %}
{% block content %}
<div class="row gx-0 kanban-header rounded-2 px-card py-2 mt-2 mb-3">
    <div class="col d-flex align-items-center">
      

      <h5 class="mb-0 ms-3">My Workspaces</h5>
      <div class="vertical-line vertical-line-400 position-relative h-100 mx-3"></div>
    </div>
    <div class="col-auto d-flex align-items-center"><button class="btn btn-sm btn-falcon-default me-2 d-none d-md-block"><span class="fas fa-plus me-2"></span>Add Workspace</button>
      <div class="dropdown font-sans-serif"><button class="btn btn-sm btn-falcon-default dropdown-toggle dropdown-caret-none" type="button" id="kanbanMenu" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h"></span></button>
        <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="kanbanMenu"><a class="dropdown-item" href="#!">Copy link</a>
          <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Settings</a><a class="dropdown-item" href="#!">Themes</a>
          <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove </a>
        </div>
      </div>
    </div>
</div>
<div class="recent-container mt-3">
    <div class="row">
        {% for workspace in workspaces %}
        <div class="col-12 col-sm-6 mb-2 mb-md-0 col-md-4 col-lg-3">
            <a href="{% url "workspace" user.username workspace.pk  %}">
            <div class="card bg-dark text-white overflow-hidden light" style="max-width:20rem; height:10rem;">
                <div class="card-img-top"><img class="img-fluid h-100" src="{{ workspace.background.url }}" alt="Card image" /></div>
                <div class="card-img-overlay d-flex align-items-end">
                    <div>
                        <h5 class="card-title text-white">{{ workspace.title }}</h5>
                    </div>
                </div>
            </div>
        </a>
        </div>
        {% endfor %}
    </div>
</div>

<script>
  $('.navbar').removeClass('bg-transparent')
  $('.navbar-vertical-content').removeClass('d-none')
  $('.navbar-vertical-content').removeClass('d-none')

    $('.navbar-toggler-humburger-icon').on('click',function () {
        if ($('.navbar-vertical-content').hasClass('d-none')){
          $('.navbar-vertical-content').removeClass('d-none')
        } else {
          $('.navbar-vertical-content').addClass('d-none')

        }
    })
</script>
{% endblock content %}