{% extends "task/base.html" %}
{% block content %}
<div class=" h-100">
{% include "task/items/kanban-header.html" %}
<div class="kanban-container scrollbar me-n3" >
{% include "task/items/kanban/column.html" %}
  <div class="kanban-column">
    <div class="collapse bg-100 p-card rounded-lg transition-none" id="addListForm">
      <form method="POST" action="{% url "add_column" %}">
        {% csrf_token %}
        <textarea class="form-control mb-2" data-input="add-list" rows="2" placeholder="Enter list title..." name="title"></textarea>
        <div class="row gx-2">
          <input class="d-none" name="added_by" value="{{ user.pk }}">
          <input class="d-none" name="workspace" value="{{ workspace.pk }}">
          <div class="col"><button class="btn btn-primary btn-sm d-block w-100" type="submit">Add</button></div>
          <div class="col"><button class="btn btn-outline-secondary btn-sm d-block w-100 border-400" type="button" data-dismiss="collapse">Cancel</button></div>
        </div>
      </form>
    </div><button class="btn d-block w-100 btn-secondary bg-400 border-400" data-bs-toggle="collapse" data-bs-target="#addListForm" aria-expanded="false" aria-controls="addListForm"><span class="fas fa-plus me-1"> </span>Add another list</button>
</div>
</div>
</div>

{% include "task/items/kanban/offcanvas.html" %}
<script>
    $('.body').addClass('overflow-hidden')
    $('.navbar-toggler-humburger-icon').on('click',function () {
      if ($('.navbar-vertical-content').hasClass('d-none')){
        $('.navbar-vertical-content').removeClass('d-none')
      } else {
        $('.navbar-vertical-content').addClass('d-none')

      }
  })

</script>
{% endblock content %}